{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-5">Get in touch with us</h1>
                <p class="text-center">Your home away from home, set on the majestic waters of the Atlantic Ocean.</p>
            </div>

        </div>
        <div class="row">
            <div class="col text-center">
            <!-- <button type="button" class="btn btn-success">Make Reservation Now</button> -->
            <a href="/make-reservation" class="btn btn-success">Contact Now</a>
            </div>

        </div>
    </div>

{{end}}